---
import Menu from '../components/Menu.astro';
import Footer from '../components/Footer.astro';

import '../styles/global.css';
import '@fontsource-variable/inter';
import '@fontsource/anton';
import '@fontsource/lato/700.css';

import inter from '@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url';
import anton from '@fontsource/anton/files/anton-latin-400-normal.woff2?url';
import lato from '@fontsource/lato/files/lato-latin-700-normal.woff2?url';

interface Props {
  title?: string;
  description?: string;
	keywords?: string;
}

const {
	title = 'Paranoid_K',
	description = 'Paranoid_K 的个人站点，关于前端、JavaScript 等',
	keywords = 'Paranoid_K, pengtikui, 前端, 博客, 周刊',
} = Astro.props;
---


<!doctype html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<meta name="keywords" content={keywords} />
		<meta name="baidu-site-verification" content="codeva-vCZMO1BPzq" />
		<meta name="author" content="Paranoid_K" />
		<link rel="icon" href="/favicon.ico" />
		<title>{title}</title>
		<link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href={inter} />
		<link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href={anton} />
		<link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href={lato} />
		<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "195b8d3b8e4b420190738e7d16a38f25"}'></script>
	</head>
	<body class="max-w-3xl mx-auto px-2">
		<Menu />
		<slot />
		<Footer />
	</body>
</html>
